{%- comment -%}Always show the personalization option{%- endcomment -%}
  <div class="customization-button-container" {{ block.shopify_attributes }}>
    <div class="customization-heading">
      <h3>{{ 'products.product.customize.heading' | t }}</h3>
    </div>
    <div class="customization-content">
      <div class="customization-description">
        {{ 'products.product.customize.description' | t }}
      </div>
      <button
        type="button"
        class="customization-button"
        data-customize-button
        data-section-id="{{ section.id }}"
      >
        <div class="customization-button__content">
          <span class="customization-button__icon">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM10 18C5.59 18 2 14.41 2 10C2 5.59 5.59 2 10 2C14.41 2 18 5.59 18 10C18 14.41 14.41 18 10 18ZM14.59 5.58L8 12.17L5.41 9.59L4 11L8 15L16 7L14.59 5.58Z" fill="currentColor"/>
            </svg>
          </span>
          <span class="customization-button__text">{{ 'products.product.customize.button_text' | t }}</span>
        </div>
      </button>
    </div>
  </div>
  
  {%- render 'product-customization' -%}
  
  <style>
    .customization-button-container {
      margin-top: 1.2rem;
    }
    
    .customization-popup {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1000;
      align-items: center;
      justify-content: center;
    }
    
    .customization-popup.is-visible {
      display: flex;
    }
    
    .customization-popup__content {
      background: white;
      padding: 2.4rem;
      border-radius: var(--popup-corner-radius);
      width: 100%;
      max-width: 50rem;
      max-height: 90vh;
      overflow-y: auto;
      position: relative;
    }
    
    .customization-popup__header {
      margin-bottom: 2rem;
    }
    
    .customization-popup__close {
      position: absolute;
      top: 1.2rem;
      right: 1.2rem;
      background: none;
      border: none;
      padding: 0.5rem;
      cursor: pointer;
    }
    
    .customization-price {
      margin-top: 0.5rem;
      font-weight: bold;
      color: var(--color-1);
    }
    
    .customization-popup__actions {
      display: flex;
      gap: 1.2rem;
      margin-top: 2rem;
      justify-content: flex-end;
    }
    
    @media screen and (max-width: 749px) {
      .customization-popup__content {
        margin: 0 1.2rem;
        padding: 2rem 1.6rem;
      }
      
      .customization-popup__actions {
        flex-direction: column;
      }
      
      .customization-popup__actions .button {
        width: 100%;
      }
    }
  </style>

